@import url('./styles/checkbox.css');

:root {
  --accent: #143987;
  --accent2: #386bd7;
  --text: #262626;
  --gray: #acacac;
  --bg: #fff;

  --bad: rgba(255, 80, 80, 0.43);
  --med: rgba(255, 224, 165, 0.65);
  --ok: rgba(133, 167, 255, 1);
  --good: rgba(209, 250, 185, 0.88);

  --font-size-h1: 60px;
  --font-size-h2: 50px;
  --font-size-h3: 42px;
  --font-size-h4: 34px;
  --font-size-h5: 28px;
  --font-size-h6: 24px;
  --font-size-text: 20px;
  --font-size-small: 16px;
  --font-size-extra-small: 14px;

  --unit: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-text);
}

body {
  background: var(--bg);
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1420px;
}

.title {
  color: #143987;
  font-size: var(--font-size-h3);
}

button {
  cursor: pointer;
}

@media (max-width: 768px) {
  :root {
    --font-size-text: 18px;
    --font-size-title: 22px;
    --font-size-small: 14px;
    --font-size-extra-small: 12px;
  }
}
